
.g-banner {
    position: relative;
    overflow: hidden;
    height: 250px;
}
.g-banner > img {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: auto;
    min-height: 250px;
    transform: translate(0,-50%);
}
.g-body {
    position: relative;
    top: -94px;
    width: 745px;
    height: 940px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #dcdddd;
    background-color: #fff;
}
.g-profile {
    height: 213px;
}
.user-info {
    width: 150px;
    height: 165px;
    padding-top: 26px;
    margin: 0 auto;
}
.user-info .u-avatar {
    width: 100px;
    height: 110px;
    margin: 0 auto;
}
.user-info .name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 7px;
}
.user-info .constellation {
    margin-left: 7px;
    margin-right: 10px;
}
.user-info .u-icon-female {
    vertical-align: baseline;
}
.u-info {
    margin-top: 5px;
    text-align: center;
}
/* 主体 */
.g-main {
    position: relative;
}
.g-main.split-line::before {
    content: '';
    display: block;
    width: 720px;
    height: 0;
    margin: 0 auto;
    border-bottom: 1px solid #e4e5e5;
}
.g-works > .head {
    height: 85px;
    padding-right: 50px;
    padding-left: 50px;
    line-height: 85px;
}
.g-works > .head > h4 {
    display: inline-block;
    letter-spacing: 3px;
}
.g-works > .head .upload {
    float: right;
    width: 90px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
}
/* 作品列表 */
.g-works {
    width: 100%;
}
.g-wrap {
    overflow: hidden;
    width: 636px;
    height: 545px;
    margin: 0 auto;
}
.m-works {
    min-height: 200px;
    margin-right: -10%;
    margin-left: 5px; /* 避免偏移框外部分被隐藏 */
}
.m-works .item {
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 103px;
    height: 160px;
    margin-right: 29px;
    margin-bottom: 23px;
    border: 1px solid #eee;

}
.m-works .item a {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 100%;
    height: 100%;
    background-color: #eee;
}
.m-works .item img {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 100%;
    height: 100%;
}
.m-works .item h3 {
    position: absolute;
    left: -3px;
    bottom: -3px;
    right: 3px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    background-color: rgba(255,255,255,.6);
}
.m-works .icons  {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;

}
.m-works .item:hover .icons {
    display: block;
}
.m-works .icons .u-icon {
    margin-left: 10px;
    cursor: pointer;
}
.m-works.z-loading {
    background: url(../../res/images/loading.gif) no-repeat 10px 10px;
}
/* 左导航栏 */
.g-aside {
    position: absolute;
    left: -100px;
    top: 0;
    width: 100px;
    /*height: 288px;*/
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #5ed0ba;
}
.m-nav-side li {
    position: relative;
    float: left;
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
}
.m-nav-side .z-msg::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e55f48;
}
.m-nav-side .z-active {
    color: #fff;
    background-color: #5ed0ba;
}


/* 分页 */
.m-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    padding-bottom: 26px;
    text-align: center;
    line-height: 36px;
    color: #5ed0ba;
}
.m-pagination > li {
    position: relative;
    display: inline-block;
    min-width: 17px;
    margin: 0 10px;
    cursor: pointer;
}
.m-pagination > .z-active {
    color: #fff;
    z-index: 1;
}
.m-pagination > .z-active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    z-index: -1;
    width: 30px;
    height: 34px;
    background: url(../../res/images/sprite-icon.png) no-repeat -4px -77px ;
    transform: translate(-50%,-50%);
}
.m-pagination > .z-disabled {
    color: darkgrey;
    cursor: not-allowed;
}
